{% extends 'base.html' %}

{% block body %}

<h2>Adminy-stray-shun!</h2>

<p>
    To show this board, use this URL:
    <a href="/board/{{ board.id }}">/board/{{ board.id }}</a>
</p>
<p>
    To edit the board, you have to use this page, and the
    API resources listed on this page. It's <strong>important</strong>
    that you <strong>bookmark this page!</strong> Without this URL
    you will have no way of changing your board.
</p>

<h2>Current data</h2>

<div class="datacontainer">
    <form action="./admin/data" method="post">
        <textarea name="data">{{ board.data | prettyjson }}</textarea>
        <br>
        <button type="submit">Update</button>
    </form>
</div>


<h3>Style</h3>

<div class="datacontainer">
    <form action="./admin/style" method="post">
        <label>
            <input type="checkbox" 
                    name="includeDefaultStyles"
                    {{ "checked" if board.includeDefaultStyles }}>
            Include default styles
        </label>
        <br>
        Custom style rules:
        <br>
        <textarea name="styles">{{ board.styles }}</textarea>
        <br>
        <button type="submit">Update</button>

    </form>
</div>




<h3>Board API operations</h3>
<p>
    <dl>
        {% for op in boardDef.operations %}
            <dt>{{ op.name }}:</dt>
            <dd>{{ op.method | upper }}: {{ rootApiUrl }}{{ op.name }}</dd>
            <dd>inputs: {{ op.inputs | join(', ') }}</dd>
            <dd>{{ op.description }}</dd>
        {% endfor %}
    </dl>
</p>


{% endblock %}