<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

body {
    font-family: sans-serif;
}

.datacontainer textarea {
    min-width: 400px;
    min-height: 200px;
    border: solid black thin;
    font-family: monospace;
}

dt {
    padding-top: 1em;
    padding-bottom: 0.3em;
    font-weight: bold;
}

</style>
<title>tallyboard</title>
<!-- <link rel="stylesheet" href="/styles.css"> -->

{% block body %}
{% endblock %}

<footer>
footar
</footer>