{% extends 'base.html' %}

{% block body %}

<p>
    grar board is a site app for making simple boards.
    Useful for showing off stuff in your depressing open
    office plan.
</p>

<p>
    The boards can be styled easily by adding your own
    CSS. There are also HTTP resources for changing the
    values of the boards from scripts and bots.
</p>

<p>

<h2>Create your own board</h2>

<p>
    {% for foo, board in boardTypes %} 
        <div class="typeselector">
            <form method="post" action="/new/{{board.type}}">
                <label>
                    <h2>{{board.name}}</h2>
                    {{board.description}}.
                    <a href="/example/{{board.type}}" target="_blank">Example</a>
                </label>
                <p>
                    <button type="submit">create</button>
                </p>
            </form>
        </div>
    {% endfor %}
</p>

{% endblock %}